.lectivo {
    background-color: rgb(159, 219, 159);
}

.festivo {
    background-color: rgb(211, 133, 133);
}

.finde {
    background-color: burlywood;
}

.out {
    background-color: rgb(212, 212, 212);
}