<h2>Ejercicios</h2>
<hr>
<a href="#" [routerLink]="['ex01']" routerLinkActive="btn btn-success"> Ejercicio 1</a>
<br>
<a href="#" [routerLink]="['ex02']" routerLinkActive="btn btn-success"> Ejercicio 2</a>
<br>
<a href="#" [routerLink]="['ex03']" routerLinkActive="btn btn-success"> Ejercicio 3</a>
<br>
<a href="#" [routerLink]="['ex04']" routerLinkActive="btn btn-success"> Ejercicio 4</a>
<br>
<a href="#" [routerLink]="['ex05']" routerLinkActive="btn btn-success"> Ejercicio 5</a>
<br>
<a href="#" [routerLink]="['ex06']" routerLinkActive="btn btn-success"> Ejercicio 6</a>
<br>
<a href="#" [routerLink]="['ex07']" routerLinkActive="btn btn-success"> Ejercicio 7</a>
<br>
<a href="#" [routerLink]="['ex08']" routerLinkActive="btn btn-success"> Ejercicio 8</a>
<br>
<a href="#" [routerLink]="['ex09']" routerLinkActive="btn btn-success"> Ejercicio 9</a>
<br>
<a href="#" [routerLink]="['ex10']" routerLinkActive="btn btn-success"> Ejercicio 10</a>
