body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    color: black;
    font-style: normal;
    background-color: #ddd;
    margin: auto;
}
#formulario {
    margin: 200px;
    background-color: rgb(97, 61, 7)228);
}
form {
    background-color:  #ffcc99;
    border: 1px rgb(15, 2, 15) solid;
}


h1 {
    background-color: orange;
    font-family:  Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: auto;
}
label {
    background-color: brown;
    font-family:  Times, 'Times New Roman', serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: auto;

}